
modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 9443010

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
